# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
/libs/IL/il.h
/RubikCubeVisualizer/Debug
/RubikCubeVisualizer/x64/Debug
/Debug
/x64
/.vs/RubikCubeVisualizer/v14
/RubikCubeVisualizer.VC.VC.opendb
/RubikCubeVisualizer.VC.db
/RubikCubeVisualizer/RubikCubeVisualizer.vcxproj.filters
/RubikCubeVisualizer/RubikCubeVisualizer.vcxproj.user
